- if defined? error_message
  .alert.alert-error
    %p #{error_message}
      
.login-container
  %p
    %h1 Bienvenido al chat de SYTW
  %hr
  %form{:class => "form-horizontal", :method => "POST", :action => "/register-to-chat"}
    .control-group
      %label{:class => "control-label"} Username:
      .controls
        %input{:type => "text", :name => "username", :placeholder => "Escribe tu username aquí..."}
    .control-group
      %label{:class => "control-label"} Contraseña:
      .controls
        %input{:type => "text", :name => "username", :placeholder => "Escribe tu contraseña aquí..."}
    .control-group
      .controls
        %button{:class => "btn btn-info"} Enter para ir al chat!