


<html>
   <head>
	  <meta content="text/html, charset=utf-8" http-equiv="Content-Type"/>
	  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	  <!--[if IE]>
		 <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <![endif]-->
	  <title> Chat SYTW</title>
	  <!-- BOOTSTRAP CORE STYLE  -->
	  <link href="/css/bootstrap.css" rel="stylesheet"/>
	  <!-- FONT AWESOME ICON STYLE  -->
	  <link href="/css/font-awesome.css" rel="stylesheet"/>
	  <!-- PRETTYPHOTO STYLE  -->
	  <link href="/css/prettyPhoto.css" rel="stylesheet"/>
	  <!-- CUSTOM STYLE CSS -->
	  <link href="/css/style.css" rel="stylesheet"/>
	  <!-- CUSTOM THEME COLOR - YOU CAN USE LIGHT & DARK THEMES  -->
	  <link href="/css/themes/dark.css" rel="stylesheet"/>
<!--     <link href="/css/themes/dark.css" rel="stylesheet"/> -->
	  <!-- GOOGLE FONT -->
	  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

   </head>
   <body >
  <div class="navbar navbar-inverse navbar-fixed-top scrollclass">
   <div class="container">
	  <div class="navbar-header">
		 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="icon-bar"></span>
			   <span class="icon-bar"></span>
			   <span class="icon-bar"></span>
		 </button>
		 <a class="navbar-brand" href="/">Inicio</a>
	  </div>
	  <div class="navbar-collapse collapse">
		 <ul class="nav navbar-nav navbar-right">
		 	<li><a href="/chat">Chat</a></li>
			<li><a href="/">Login</a></li>
			<li><a href="/registrar">Registrar</a></li>
			<li><a href="/logout">Salir</a></li>
		 </ul>
	  </div>
   </div>
</div>
 <!-----------------------------parte central-->
<div id="home-sec">
   <div class="overlay">
	  <div class="container">
		 <div class="col-md-8 pad-top scrollclass">
			<h1><strong><mark>Bienvenido al chat de SYTW</strong></h1>
			   <p class="home-p">
				  Introducete en nuestro chat de amigos tan fácil como introducir en el formulario.
				  <br><mark>-tu username.</mark>
				   <br><mark>-tu contraseña.</mark><br>
			   </p>

		 </div>
	  </div>
	  
   </div>
</div>


 <!-----------------------------parte formulario login-->
<section id="skill-sec">
   <div class="overlay">
	  <div class="container">
		 <div class="row text-center">
		 	<h2><strong><mark>Login</strong></h2>
			<div id="warning-message" style="color:red">
 <!-----------------------------condiciones-->
			   <% if @repeat == true %>
				  <p class="bg-danger">EL username introducido no es válido, ya está creado!</p>
			   <% end %>
			   <% if @blanco == true %>
				  <p class="bg-danger">Debes introducir un nombre de usuario!</p>
			   <% end %>
			</div>
 <!-----------------------------formulario login-->
			<form action="/chat" method="POST" name="input" role="form">
			   <div class="form-group">
				  <label for="name"></label>
				  <input id="name" name="name" type="text" class="form-control" placeholder="Username"></input>
				 <input id="pass1" name="pass1" type="text" class="form-control" placeholder="Contraseña"></input>
			   </div>
			   <input class="btn btn-info" id="enter" type="submit" value="Click para ir al chat."></input>
			</form>
		 </div>
	  </div>
   </div>
</section>
 <!---------------------------scripts-->
	  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src= "/js/chat.js"></script>
	


 <!-----------------------------footer-->
	  <section id="location-sec">
		 <div class="container">
			<div class="row text-center min-set">
			   <div class="col-md-12">
				  SYTW 2014. Autores: Rushil Lakhani Lakhani & Adán Rafael López Lecuona. <br>
				  
               </div>
            </div>
        </div>
	  </section>
   </body>
</html>