<div class="navbar navbar-inverse navbar-fixed-top scrollclass">
   <div class="container">
	  <div class="navbar-header">
		 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="icon-bar"></span>
			   <span class="icon-bar"></span>
			   <span class="icon-bar"></span>
		 </button>
		 <a class="navbar-brand" href="/">Inicio</a>
	  </div>
	  <div class="navbar-collapse collapse">
		 <ul class="nav navbar-nav navbar-right">
			<li><a href="/login">Login</a></li>
			<li><a href="/registrar">Registrar</a></li>
			<li><a href="/logout">Salir</a></li>
		 </ul>
	  </div>
   </div>
</div>
<div id="home-sec">
   <div class="overlay">
	  <div class="container">
		 <div class="col-md-8 pad-top scrollclass">
			<h1><strong><mark>Registrate al chat de SYTW</strong></h1>
			   <p class="home-p">
				  Introducete en nuestro chat de amigos tan fácil como introducir en el formulario.
				  <br><mark>-tu username.</mark>
				   <br><mark>-tu contraseña.</mark>
				   <br><mark>-tu contraseña repetida.</mark><br>
			   </p>
		 </div>
	  </div>
	  
   </div>
</div>




<section id="skill-sec">
   <div class="overlay">
	  <div class="container">
	  	<div class="row text-center">
           <h3><strong><mark>Login</strong></h3>

			<form action="/chat" method="GET" name="input" role="form">
			   <div class="form-group">
				  <label for="name"></label>
				  <input id="nombre" name="name" type="text" class="form-control" placeholder="Username"></input>
				  <input id="contraseña" name="pass" type="text" class="form-control" placeholder="Contraseña"></input>
				  <input id="contraseña2" name="pass2" type="text" class="form-control" placeholder="Repetir Contraseña"></input>
			   </div>
			   <input class="btn btn-info" id="enter" type="submit" value="Click para registrarte."></input>
			</form>
	    </div>
	  </div>
   </div>
</section>